.book-shop-popup__blackout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
}

.book-shop-popup__section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.book-shop-popup__container {
  position: relative;
  margin: auto;
}

.book-shop-popup__button-close {
  position: absolute;
  top: -35px;
  left: 500px;
}

.book-shop-popup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 500px;
  height: 300px;
  border-radius: 18px;
  background: #0C8C95;
}

.book-shop-title-container {
  text-align: center;
}

.book-shop-popup__header-book-title {
  color: #D7CEC9;
  margin: 35px auto 0;
}

.book-shop-popup-description {
  margin: auto;
  width: 400px;
  text-align: justify;
}

.book-shop-popup__header-book-abstract {
  color: #D7CEC9;
}